@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
	--width-sidebar: 150px;
}
[data-theme="light"] {
	--text-white: #FEFEFE;
	--text-black: #424242;
	--body-bg: #E7ECF0;
	--shadow: #00000030;
	--bg: white;
	--bg-light-grey: #fafafa;
	--bg-dark-grey: #D4D4D4;
	--card-header-bg: #f8f8f8;
	--card-body-bg: white;
	--icon-hover: .9;
	--dropdown-bg: var(--bg);
	--bg-sidebar: linear-gradient(to top right, #0099ff 0%, #ff6699 100%);
}
/* [data-theme="dark"] {
	--text-white: #424242;
	--text-black: #FEFEFE;
	--body-bg: #262626;
	--shadow: #FFFFFF30;
	--bg: #222222;
	--bg-light-grey: #373737;
	--bg-dark-grey: #3b3b3b;
	--card-header-bg: #868e96;
	--card-body-bg: #212529;
	--icon-hover: 1.3;
	--dropdown-bg: var(--bg);
	--bg-sidebar: var(--bg);
} */
* {
	/*outline: 1px solid blue;*/
	font-size: 14px;
	user-select: none;
}
html {
	height: 100%;
}
body {
	background: var(--body-bg);
}

select,
option,
input[type="date"] {
	cursor: pointer;
}
/*input::placeholder {
	color: var(--text-black)!important;
}*/

.welcome-background,
.pnf-background {
	background: linear-gradient(to top right, #ff6699 0%, #0099ff 100%);
	z-index: -1;
}
.login-background {
	background: linear-gradient(to top left, #0099ff 0%, #ff6699 100%);
	z-index: -1;
}
.register-background {
	background: linear-gradient(to top left, #ff6699 0%, #0099ff 100%);
	z-index: -1;
}

.welcome,
.login,
.register {
	background: rgba(255, 255, 255, .4);
	width: 35%;
	transition: .3s;

	input::placeholder {
		color: gray;
	}
}

.login:focus-within {
	box-shadow: 1rem 1rem 1rem #00000066;
	transform: translate(-5px, -5px);
}

.welcome:focus-within,
.register:focus-within {
	box-shadow: -1rem -1rem 1rem #00000066;
	transform: translate(5px, 5px);
}

.logo {
	width: 52px;
	height: 52px;
}
.icon {
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: .3s;
}
.icon:hover {
	filter: brightness(var(--icon-hover));
}

.change-sheet {
	input[type="number"] {
		width: 60px;
	}
}
.avatar-account {
	width: 140px;
	height: 140px;
	border: 2px dashed black;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.input-avatar {
	all: unset;
	width: inherit;
	height: inherit;
	opacity: 0;
	cursor: pointer;
}

.item-img {
	width: 110px;
	height: 110px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	div {
		color: #FEFEFE!important;
	}
}

.avatar-reviewer {
	width: 46px;
	height: 46px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.bg-light-grey {
	background: var(--bg-light-grey);
}
.bg-dark-grey {
	background: var(--bg-dark-grey);
}
.bg-black-transparent {
	background: rgba(0, 0, 0, .6);

	div {
		color: var(--text-white);
	}
}

.fs-100 {
	font-size: 100px;
}
.fs-70 {
	font-size: 70px;
}
.fs-50 {
	font-size: 50px;
}
.fs-20 {
	font-size: 20px;
}
.fs-16 {
	font-size: 16px;
}
.fs-14 {
	font-size: 14px;
}
.fs-12 {
	font-size: 12px;
}
.fs-10 {
	font-size: 10px;
}

.ms-max {
	margin-left: 100%;
}

.text-justify {
	text-align: justify;
}


.text-white {
	color: var(--text-white)!important;
}
.text-black {
	color: var(--text-black)!important;
}
.shadow-sm {
	box-shadow: 0 .125rem .25rem var(--shadow)!important;
}
.bg-white {
	background-color: var(--bg)!important;
}
.card {
	background: transparent;

	.card-header {
		background-color: var(--card-header-bg);
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		
		i.bi {
			cursor: pointer;
		}
	}
	.card-body {
		background-color: var(--card-body-bg);
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}
}

.dropdown-menu {
	background-color: var(--dropdown-bg)!important;
}
header {
	a, div {
		text-decoration: none;
		color: var(--text-black);
	}
	ul li {
		transition: .3s;
	}
	ul li:hover {
		background: #95959542;
		cursor: pointer;
	}
}
footer {
/*	margin-left: var(--width-sidebar);*/
	
	a, div {
		text-decoration: none;
		color: var(--text-black);
	}
}
.search-bar {
	span {
		cursor: pointer;
	}
}
.sidebar {
	background: var(--bg-sidebar);
	width: var(--width-sidebar);
	height: calc(100vh - 62px);

	a {
		text-decoration: none;
		color: #FEFEFE;
	}
	.sidebar-tab {
		transition: .3s;
	}
	.sidebar-tab:hover {
		background: #ffffff73;
	}
	div, i {
		color: #FEFEFE;
		transition: .3s;
	}

	.collapsed i {
		transform: rotateZ(-90deg);
	}
}

.modal-content {
	background: var(--bg);
	color: var(--text-black);
}

@media (max-width: 767px) {
	.login,
	.register {
		width: 75%;
	}
}