<div class="rounded-3 bg-dark-grey">
	<div class="item-img p-0 rounded-3 position-relative">
		<img src="assets/img/logo.png">
		<div class="bg-black-transparent p-2 d-flex flex-column position-absolute bottom-0 start-0 end-0">
			<div class="fs-14">Item</div>
			<div class="fs-12">Item000000</div>
		</div>
	</div>
	<div class="p-1 d-flex justify-content-around align-items-center">
		<!-- <i class="bi bi-star-fill"></i>
		<i class="bi bi-star-fill"></i>
		<i class="bi bi-star-fill"></i>
		<i class="bi bi-star-fill"></i>
		<i class="bi bi-star-fill"></i> -->
	</div>
</div>